html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(213, 225, 239);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid black;
    border-radius: 25px;
    width: 310px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.text-wrapper {
    margin: 0 15px;
}

h1 {
    text-align: center;
    font-size: 21px;
    color: rgb(37, 48, 66);
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 16px;
    color: rgb(144, 148, 157);
    font-weight: 400;
    margin-top: 0;
}

.attribution {
    font-size: 15px; 
    text-align: center;
    margin-top: auto;
}

.attribution a {
    color: rgb(62, 82, 163); 
}